@mixin responsive($property, $min-value, $max-value) {
    $min-screen: 375px;
    $max-screen: 1440px;
    
    #{$property}: $min-value;
  
    @media (min-width: $min-screen) and (max-width: $max-screen) {
      $scaling-factor: 0.1%;
      $scaled-value: calc(#{$min-value} + (#{$max-value} - #{$min-value}) * ($scaling-factor * (100vw - #{$min-screen}) / (#{$max-screen} - #{$min-screen})));
      #{$property}: $scaled-value;
    }
  
    @media (min-width: $max-screen) {
      #{$property}: $max-value;
    }
  }
  