:root {
    --primary-color: #FFFFFF;
    --secondary-color:#48CCFD;
    --background-color: #1F2229;
    --font-family: "Arial";
    --font-size-base: 20px;
    --font-weight-base: 400;
    --line-height-base: 30px;
  }
  