:root {
    --primary-color: #FFFFFF;
    --secondary-color:#48CCFD;
    --background-color: #1F2229;
    --font-family: 'Arial, sans-serif';
    --font-size-base: 16px;
    --line-height-base: 1.5;
  }
  