<section class="gifts">

    <h2 class="gifts__title">Один терабайт — много любимых развлечений</h2>
    <p class="gifts__info">Подарок получают только новые абоненты при подключении услуг Tele2
        с тарифом «Мой онлайн+». Трафик расходуется в течение года. 
    </p>

    <ul class="gifts__list">
        <li class="gifts__item">
            <img class="gifts__img" src="/video.svg" alt="video">
            Около 500 часов видео
        </li>
        <li class="gifts__item">
            <img class="gifts__img" src="/music.svg" alt="music">
            Примерно 200 000 песен
        </li>
        <li class="gifts__item">
            <img class="gifts__img" src="/photo.svg" alt="photo">
            Порядка 300 000 фото
        </li>
    </ul>

</section>