<header class="header">
  <img class="header-image-logo" src="/src/public/logo.svg" alt="logo">
  <img class="header-image-man" src="/src/public/location.svg" alt="location">
  <p class="header-city">Санкт-Петербург</p>
</header>
