<section class="promo">

    <article class="promo__info">
        <h2 class="promo__title">Несколько шагов <br> <span>и 1 ТБ — ваш</span></h2>

        <label class="promo__phone" for="phone-number">Номер телефона</label>
        <input class="promo__input" type="text" id="phone-number" placeholder="+7 (XXX) XXX-XX-XX">

        <section class="promo__approval">

            <input class="promo__checkbox" type="checkbox" id="checkbox">
            <label class="promo__checkbox-label" for="checkbox"></label>

            <p>Даю согласие на обработку персональных данных. <a
                    href="https://s3.tele2.ru/ds-site/docs/terms/usloviya-okazaniya-uslug-svyazi.pdf">Условия
                    соглашения.</a>
            </p>
        </section>

        <button class="promo__btn">Выслать промокод</button>

        <span class="promo__message">
            <img src="/approved.svg" alt="approved" />
            Промокод выслан на ваш номер
        </span>
    </article>

    <ul class="promo__list">
        <li class="promo__item">
            <img class="promo__number" src="/one.svg" alt="one" />
            <p>
                Ведите свой номер телефона, затем дождитесь смс с промокодом для получения Тб
            </p>
        </li>
        <li class="promo__item">
            <img class="promo__number" src="/two.svg" alt="two" />
            <p>
                Перейдите на <a href="https://tele2.ru">сайт Tele2</a> и активируйте промокод при подключении на тариф
                «Мой Онлайн+»
            </p>
        </li>
        <li class="promo__item">
            <img class="promo__number" src="/three.svg" alt="three" />
            <p>
                Используйте свой подарочный ТБ от Tele2 в течение всего года
            </p>
        </li>
    </ul>

</section>